body {
	background-color: #eaeaea;
	font-size: 14px;;
}

.top-header {
	background-color: #3498db;
	position: fixed;
	width: 100%;
	z-index: 4;
}

.top-flex {
	display: flex;
}

.top-account {
	height: auto;
}

.top-account a {
	padding: 10px;
	display: inline-block;
	background-color: #2980b9;
} 

.top-brand {
	flex-grow: 1;
	padding: 10px;
}

.top-brand a, .top-account a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.top-brand a span, .top-account a span {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.content {
	display: flex;
	width: 100%;
}

.left-sidebar {
	z-index: 3;
	flex: 0 0 300px;
	min-height: 100vh;
	max-height: 100%;
	background-color: #34495e;
}

.nav-account {
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #2c3e50; */
	padding:15px;
}

.nav-account-info {
	flex-grow: 1;
	color: #FFF;
}

.nav-account-info span.username-info {
	font-weight: bold;
}

.nav-account-info span.email-info {
	color: #eaeaea;
}

.nav-account-info span.ip-info {
	color: #eaeaea;
	font-size: 12px;
}

ul.nav-menu-item {
	list-style-type: none;
	padding: 0;
}

ul.nav-menu-item li a {
	padding: 10px;
	padding-left: 15px;
	display: block;
	color: #cfd9ff;
	text-decoration: none;
}

ul.nav-menu-item li a:hover, ul.nav-menu-item li a.active, .router-link-exact-active {
	border-left: 2px solid #3498db;
	background-color: #2c3e50;
	color: #FFF;
}

.web-content {
	flex: 1;
	padding: 10px;
	flex-grow: 1;
	width: auto;
	padding-top: 70px;
	display: inline-block;
}

.content-wrapper {
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFF;
	border:1px solid #d4d4d4;
}

.act-btn {
	font-weight: bold;
	font-size: 12px;
}

.act-btn.delete-btn {
	color: red;
}

.act-btn.jawaban-btn {
	color:green;
}

.no-border-radius {
	border-radius: 0px;
}

p {
	margin-bottom: 10px;
}

.table-panel {
	display: flex;
	margin-bottom: 10px;
}

.panel-content.not-grow {
	flex-grow: 0;	
}

.panel-content {
	flex-grow: 1;
}

.post-tag {
	color: #34495e;
}

.nav-toggle {
	display: none !important;
}

.participant-picture {
    overflow: hidden;
}

.participant-picture img {
    border-radius: 50%;
    object-fit: cover;
}

.inputGroup {
	background-color: #fff;
	display: block;
	margin: 10px 0;
	position: relative;
  }
  .inputGroup label {
	border:1px solid #333;
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	-webkit-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
	overflow: hidden;
  }
  .inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: #5562eb;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
			transform: translate(-50%, -50%) scale3d(1, 1, 1);
	-webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
  }
  .inputGroup label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	cursor: pointer;
	-webkit-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
  }
  .inputGroup input:checked ~ label {
	color: #fff;
  }
  .inputGroup input:checked ~ label:before {
	-webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
			transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
  }
  .inputGroup input:checked ~ label:after {
	background-color: #54E0C7;
	border-color: #54E0C7;
  }
  .inputGroup input {
	width: 32px;
	height: 32px;
	-webkit-box-ordinal-group: 2;
			order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
  }

  .answer-form-exam {
	padding: 0 16px;
	max-width: 350px;
	font-size: 13px;
	font-weight: 600;
	line-height: 36px;
  }

  .exam-panel {
	position: fixed;
	width: 150px;
	background-color: #FFF;
	min-height: 70px;
	z-index: 5;
	top: 0;
	left: 50%;
	margin-left: -75px;
	border-bottom-left-radius: .3em;
	border-bottom-right-radius: .3em;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,.5);
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,.5);
  }

  .exam-container {
	  margin:10px;
	  text-align: center;
  }

  .question-navigation-panel {
	position: fixed;
	width: 20px;
	background-color: #FFF;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 5;
	right: 0;
	top: 50%;
	margin-top: -35px;
	border-bottom-left-radius: .3em;
	border-top-left-radius: .3em;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,.5);
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,.5);
	transition: right 0.5s linear 0s;
	cursor: pointer;
	background-color: #3498db;
  }

  .question-navigation-panel a {
	color: #FFF !important;
  }

  .question-navigation {
	position: fixed;
	width: 0px;
	height: 100vh;
	background-color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 5;
	right: 0;
	top: 59px;
	transition: width 0.5s linear 0s;
  }

  .question-navigation-show {
	  width: 300px;
	  overflow: auto;
      padding-bottom: 60px;
  }

  .question-navigation-panel-show {
	  right: 300px;
  }

  .nav-question {
	  margin:10px;
	  overflow-x: auto;
  }

  /* .question-navigation-container {
	  margin:10px;
	  text-align: center;
  } */

ul.answer-list {
	padding-left:20px;
}

ul.answer-list li p {
	margin:0;
}

.pagination-active {
	background-color: #3498db;
	color: #FFF;
}

@media only screen and (max-width: 730px) {
	.sidebar-toggle {
		width: 300px;
		position: fixed;
		display: block !important;
	}
	
	.left-sidebar {
		display: none;
	}

	.nav-toggle {
		display: inline-block !important;
	}
}